*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

:root {
  --main-color: rgba(184, 0, 0, 255);
}

a {
  color: unset;
}
a:hover {
  color: var(--main-color);
}

img {
  width: 100%;
}

section {
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  height: 60px;
  width: 100%;
  padding-inline: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000000000000;
}
header .sign-in a {
  text-decoration: none;
  color: unset;
}
header div {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
  font-weight: 700;
}
header a {
  text-decoration: none;
}
header a .bbc-logo span:not(.news) {
  background-color: black;
  font-weight: 900;
  font-size: 1rem;
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
header a .bbc-logo .news {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 120px;
}
header .search {
  font-weight: unset;
  background-color: white;
  padding-inline: 1rem;
}
header .search i {
  color: var(--main-color);
}
header .search input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 150px;
}
header .search input:focus {
  width: max-content;
}
header .search input::placeholder {
  text-align: center;
}

.time {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
}

.span-time {
  opacity: 0.8;
  border-right: 1px solid var(--main-color);
  padding-right: 5px;
  opacity: 0.7;
  font-size: 0.75rem;
}

.author {
  font-weight: 700;
  font-size: 0.75rem;
}

.first-section {
  margin-top: 100px;
}
.first-section .left-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.first-section .left-section a {
  all: unset;
}
.first-section .left-section a:hover {
  cursor: pointer;
}
.first-section .left-section a h1 {
  cursor: pointer;
}
.first-section .left-section a h1:hover {
  color: var(--main-color);
  text-decoration: underline var(--main-color);
}

.search-display[data-display=true] {
  background-color: var(--main-color);
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 10px;
  position: absolute;
  top: 65px;
  right: 0;
  z-index: 99999;
  width: 70%;
  overflow-y: auto;
}
.search-display[data-display=true] a {
  text-decoration: none;
  color: unset;
}
.search-display[data-display=true] a span {
  border-bottom: 1px white solid;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.search-display[data-display=true] a span:hover {
  background-color: white;
  color: var(--main-color);
  font-weight: 700;
}

.search-display[data-display=false] {
  display: none;
}

.lg3-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lg3-left .minutes {
  color: var(--main-color);
  font-weight: 600;
}
.lg3-left a {
  all: unset;
  cursor: pointer;
}
.lg3-left a:hover {
  color: unset;
}
.lg3-left a .title-u {
  opacity: 0.8;
}

.lg3-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.lg3-right img {
  max-width: 280px;
  width: 100%;
  max-height: 150px;
  height: auto;
}
.lg3-right h4 {
  font-size: 1rem;
  font-weight: 500;
}
.lg3-right h4:hover {
  color: var(--main-color);
  text-decoration: underline;
}
.lg3-right span {
  opacity: 0.8;
}
.lg3-right a {
  all: unset;
}
.lg3-right a:hover {
  cursor: pointer;
}
.lg3-right a h4 {
  font-size: 1rem;
  font-weight: 500;
}
.lg3-right a h4:hover {
  color: var(--main-color);
  text-decoration: underline;
}
.lg3-right a span {
  opacity: 0.8;
}

.left-links .row {
  padding-inline: 10px;
}
.left-links .row .col-sm-8 {
  display: flex;
  gap: 40px;
  padding-left: 20px;
}
.left-links .row .col-sm-8 li {
  cursor: pointer;
}
.left-links .row .col-sm-8 li:hover {
  color: var(--main-color);
  text-decoration: underline;
}
.left-links .row .col-sm-8 li a {
  text-decoration: none;
  color: unset;
  font-weight: 600;
  font-size: 0.8rem;
}

.categories .full-story::after {
  left: 200px;
}
.categories .categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 20px;
}
.categories .categories-grid img {
  max-width: 280px;
  width: 100%;
  height: 120px;
}
.categories .categories-grid .flex-right-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.categories .categories-grid .flex-right-categories img {
  max-width: 280px;
  width: 100%;
}

.business {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.business img {
  height: 130px;
}
.business .main-div {
  grid-area: 1/1/3/3;
}
.business .main-div img {
  min-width: 100%;
  min-height: 300px;
}
.business .main-div h4 {
  font-size: 1.7rem;
}

.full-story {
  margin-block: 1rem;
  position: relative;
}
.full-story::after {
  content: "";
  background-color: #ddd;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 10px;
  left: 150px;
}
.full-story hr {
  color: red;
  display: none;
}

@media (min-width: 768px) {
  .first-section .left-section h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .first-section .row .col-lg-3 {
    display: none;
  }

  .business {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
  }
  .business .main-div {
    grid-area: 1/1/3/3;
  }
  .business .div-3 {
    grid-area: 3/1/4/2;
  }
  .business .div-4 {
    grid-area: 3/2/4/3;
  }
  .business .div-5 {
    grid-area: 3/3/4/4;
  }
  .business .div-6 {
    grid-area: 3/4/4/5;
  }

  .categories-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .categories-grid .flex-right-categories {
    display: flex;
    flex-direction: column;
  }
  .categories-grid .flex-right-categories img {
    display: none;
  }
  .categories-grid .flex-right-categories h4 {
    font-size: 1.1rem;
  }
}
@media (max-width: 900px) {
  .war::after {
    max-width: 700px;
  }

  .categories-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .categories-grid a h4 {
    font-size: 1rem;
  }
  .categories-grid .flex-right-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 2/1/3/4;
  }
  .categories-grid .flex-right-categories a h4 {
    font-size: 1rem;
  }

  .business {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .business .main-div {
    grid-area: 1/1/2/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .business .main-div img {
    min-height: 100%;
    height: auto;
    width: 100%;
  }
  .business .main-div h4 {
    font-size: 1.2rem;
  }
  .business .div-3, .business .div-4, .business .div-5, .business .div-6 {
    grid-area: unset;
  }
}
@media (max-width: 768px) {
  .war::after {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  .war::after {
    max-width: 300px;
  }

  .categories-grid {
    display: flex;
    flex-direction: column;
  }
  .categories-grid a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .categories-grid a h4 {
    font-size: 0.9rem;
  }
  .categories-grid .flex-right-categories {
    grid-area: unset;
  }
  .categories-grid .flex-right-categories a {
    display: unset;
  }
  .categories-grid .flex-right-categories a h4 {
    font-size: 0.9rem;
  }

  .business {
    display: flex;
    flex-direction: column;
  }
  .business .main-div {
    display: flex;
    flex-direction: column;
  }
  .business .main-div img {
    max-height: 200px;
    min-width: 80%;
  }
  .business .div-1, .business .div-2, .business .div-3, .business .div-4, .business .div-5, .business .div-6 {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
