*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: rgba(184, 0, 0, 255);
}

body {
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8dc26f, #76b852);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8dc26f, #76b852);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #76b852;
  height: 60px;
  align-items: center;
}
header span:not(.log-out span) {
  color: white;
  font-weight: 700;
}
header .create-article {
  color: green;
  font-weight: 900;
  font-size: 1.1rem;
  cursor: pointer;
}
header a {
  text-decoration: none;
}
header a .log-out {
  color: white;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--main-color);
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header a .log-out:hover {
  color: var(--main-color);
  background-color: white;
}

.number-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--main-color);
}

.filter {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.filter .btn-filter[data-div-filter=true] {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .btn-filter[data-div-filter=true] button {
  width: 150px;
  border: 2px var(--main-color) solid;
  outline: none;
  border-radius: 10px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.1rem;
}
.filter .btn-filter[data-div-filter=true] button:hover {
  color: white;
  background-color: var(--main-color);
}
.filter .btn-filter[data-div-filter=false] {
  display: none;
}
.filter .filter-articles {
  position: absolute;
  right: 10px;
  top: 80px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  border: 2px var(--main-color) solid;
  width: max-content;
  float: right !important;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--main-color);
  background-color: white;
  margin-bottom: 30px;
}
.filter .filter-articles:hover {
  color: white;
  background-color: var(--main-color);
}
.filter .filter-by[data-filter=true] {
  gap: 20px;
}
.filter .filter-by[data-filter=true] .from-to,
.filter .filter-by[data-filter=true] .sort-by,
.filter .filter-by[data-filter=true] .page-size,
.filter .filter-by[data-filter=true] .filter-search {
  display: flex;
  align-items: center;
}
.filter .filter-by[data-filter=true] input {
  height: 30px;
  outline: none;
  text-align: center;
}
.filter .filter-by[data-filter=true] .filterBy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-self: center;
}
.filter .filter-by[data-filter=true] .filterBy div {
  display: flex;
  gap: 10px;
}
.filter .filter-by[data-filter=true] .filterBy div select {
  height: 30px;
  outline: none;
}
.filter .filter-by[data-filter=true] .filterBy .from-to {
  flex-direction: column;
}
.filter .filter-by[data-filter=true] .filterBy .from-to div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.filter .filter-by[data-filter=true] .filterBy .from-to div label {
  width: 40px;
}

.filter-by[data-filter=false] {
  display: none;
}

.display-api {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.display-api table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.display-api table tr {
  display: flex;
  gap: 20px;
  border-bottom: 1px white solid;
}
.display-api table tr .first-cell {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-api table tr td {
  width: 200px;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.display-api table tr .edit-delete {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.display-api table tr .edit-delete span {
  cursor: pointer;
  font-weight: 700;
}
.display-api table tr .edit-delete span:hover {
  color: var(--main-color);
}
.display-api table tr th {
  width: 200px;
}

.display-view[data-view=true] {
  background-color: white;
  height: max-content;
  max-height: 80vh;
  position: fixed;
  top: 60px;
  left: 10px;
  right: 10px;
  transition: 500ms ease-in-out;
  padding-inline: 0.75rem;
  overflow-y: scroll;
}
.display-view[data-view=true] .even {
  background-color: #ddd;
}
.display-view[data-view=true] .align-center {
  display: flex;
  align-items: center;
}

.display-view[data-view=false] {
  display: none;
}

.remove {
  display: flex;
  justify-content: flex-end;
  color: var(--main-color);
  font-size: 1.5rem;
  cursor: pointer;
  padding-right: 1rem;
  padding-block: 1rem;
}
.remove i:hover {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .remove i:hover {
    transform: unset;
  }

  .filter-by[data-filter=true] {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }
  .filter-by[data-filter=true] .filter-search {
    width: 400px;
  }
  .filter-by[data-filter=true] .filter-search input {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .filter .filter-by[data-filter=true] .from-to,
.filter .filter-by[data-filter=true] .sort-by,
.filter .filter-by[data-filter=true] .page-size,
.filter .filter-by[data-filter=true] .filter-search {
    display: flex;
    align-items: unset;
  }
  .filter .filter-by[data-filter=true] .filterBy {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 20vh;
  }
  .filter .filter-by[data-filter=true] .filterBy .sort-by label {
    width: 60px;
    height: max-content;
  }
  .filter .filter-by[data-filter=true] .filterBy .page-size {
    grid-area: 1/2/2/3;
  }
  .filter .filter-by[data-filter=true] .filterBy .from-to {
    grid-area: 2/1/3/4;
  }
}
.key,
.value {
  min-height: 40px;
}

.key {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.value {
  opacity: 0.75;
}

.display-edit[data-edit=true] {
  position: fixed;
  background-color: white;
  color: var(--main-color);
  left: 10px;
  right: 10px;
  top: 70px;
  max-height: 80vh;
  overflow-y: scroll;
}
.display-edit[data-edit=true] textarea {
  height: max-content;
  width: 100%;
  min-height: 100px;
  outline: none;
}
.display-edit[data-edit=true] input {
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  height: 35px;
}
.display-edit[data-edit=true] input:read-only {
  border: none;
}
.display-edit[data-edit=true] .display-none {
  display: none;
}
.display-edit[data-edit=true] .value {
  padding-right: 1rem;
}
.display-edit[data-edit=true] .key {
  display: flex;
  justify-content: center;
}
.display-edit[data-edit=true] .btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
}
.display-edit[data-edit=true] .btn-edit span {
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.display-edit[data-edit=true] .btn-edit span:hover {
  background-color: #ddd;
  color: var(--main-color);
  width: 120px;
  transition: 600ms ease-in-out;
}
.display-edit[data-edit=true] .btn-add {
  display: none;
}

.display-edit[data-edit=false] {
  display: none;
}

.display-add[data-add=true] {
  position: fixed;
  background-color: white;
  color: var(--main-color);
  left: 10px;
  right: 10px;
  top: 60px;
  bottom: 20px;
  z-index: 9999999999;
  max-height: 90vh;
  overflow-y: scroll;
}
.display-add[data-add=true] textarea {
  height: max-content;
  width: 100%;
  min-height: 100px;
  outline: none;
}
.display-add[data-add=true] input {
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  height: 35px;
}
.display-add[data-add=true] input:read-only {
  all: unset;
}
.display-add[data-add=true] .value {
  padding-right: 1rem;
}
.display-add[data-add=true] .key {
  display: flex;
  justify-content: center;
}
.display-add[data-add=true] .btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
}
.display-add[data-add=true] .btn-add span {
  background-color: green;
  color: white;
  font-weight: 700;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.display-add[data-add=true] .btn-add span:hover {
  background-color: #ddd;
  color: green;
  width: 120px;
  transition: 600ms ease-in-out;
}
.display-add[data-add=true] .btn-edit {
  display: none;
}

.display-add[data-add=false] {
  display: none;
}

.delete-item[data-delete=true] {
  background-color: white;
  position: fixed;
  z-index: 10000000000000002000;
  top: 200px;
  left: 25%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  color: var(--main-color);
  font-weight: 500;
  border: 1px var(--main-color) solid;
  border-radius: 20px;
}
.delete-item[data-delete=true] .yes-no {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.delete-item[data-delete=true] .yes-no span {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-weight: 700;
  text-transform: capitalize;
}
.delete-item[data-delete=true] .yes-no span:hover {
  border: 1px var(--main-color) solid;
  border-radius: 20%;
}

.delete-item[data-delete=false] {
  display: none;
}

/*# sourceMappingURL=admin.css.map */
