

// LOGIN PAGE


section{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .login{
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      span[data-display-span="false"]{
        display: none;
      }
  
      span[data-display-span="true"]{
        color: red;
        font-weight: 700;
        font-size: .9rem;
      }
  
      input{
        max-width: 100%;
        width: 200px;
        outline: none;
        border: 1px var(--main-color) solid;
        border-radius: 10px;
        height: 35px;
        padding-left: 1rem;
  
        &::placeholder{
          text-align: center;
        }
      }
  
      a{
        button{
          border: none;
          background-color: var(--main-color);
          color: white;
          font-weight: 700;
          height: 35px;
          border-radius: 10px;
          width: 100%;
    
          &:hover{
            background-color: transparent;
            color: var(--main-color);
          }
        }
      }
      
    }
  }