// LOGIN PAGE
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: rgba(184, 0, 0, 255);
}

img {
  width: 100%;
  // height: auto;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span[data-display-span="false"] {
    display: none;
  }

  span[data-display-span="true"] {
    color: red;
    font-weight: 700;
    font-size: 0.9rem;
  }

  input {
    max-width: 100%;
    width: 200px;
    outline: none;
    border: 1px var(--main-color) solid;
    border-radius: 10px;
    height: 35px;
    padding-left: 1rem;
    border: 1px var(--main-color) solid;

    &::placeholder {
      text-align: center;
    }
  }

  .password{
    border: 1px var(--main-color) solid;
    width: 200px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    border-radius: 10px;
    input{
      border: none;
      width: 170px;
    }
    i[data-visible="true"]{
      cursor: pointer;
      opacity: .8;
    }
    i[data-visible="false"]{
      display: none;
    }
  }

  a {
    button {
      border: none;
      background-color: var(--main-color);
      color: white;
      font-weight: 700;
      height: 35px;
      border-radius: 10px;
      width: 100%;

      &:hover {
        background-color: #ddd;
        color: var(--main-color);
      }
    }
  }
}
